@import './base.css';

body {
    background: #f1f1f1;
}

a {
    color: var(--theme-color);
}

.header {
    display: flex;
    background-color: #7CB8F2;
    color: #333;
    line-height: 70px;
}

.header div {
    display: flex;
    align-items: center;
}

.title {
    margin-left: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
    color: #FFFFFF;
}

.sub-title {
    margin-left: 1vw;
    font-size: 1vw;
    color: #FFFFFF;
}

.horizontal-divider {
    height: 1px;
    background-color: #a6a6a6;
    margin: 2px 0;
    width: 100%;
}